@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    /* body::-webkit-scrollbar,
    .scrollbar::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    body::-webkit-scrollbar-track,
    .scrollbar::-webkit-scrollbar-track {
        @apply bg-indigo-900 rounded-[1px];
    }

    body::-webkit-scrollbar-thumb,
    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-indigo-700 rounded-[1px];
    }

    body::-webkit-scrollbar-thumb:hover,
    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-opacity-50;
    } */
}

@layer components {
    .sectionSize {
        @apply lg:px-48 md:px-12 px-4 py-14 flex flex-col items-center;
    }
    .secondaryTitle {
        @apply font-pt-serif text-3xl bg-left-bottom bg-no-repeat pb-8 px-16 mb-8;
    }
    .btn-red {
        @apply w-1/2 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 font-medium inline-flex items-center justify-center rounded text-sm px-3 py-2 text-center sm:w-auto;
    }

    .btn-gray {
        @apply w-1/2 text-white bg-slate-700 hover:bg-gray-600 focus:ring-4 focus:ring-gray-200 font-medium inline-flex items-center justify-center rounded text-sm px-3 py-2 text-center sm:w-auto;
    }

    .btn-yellow {
        @apply w-1/2 text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-200 font-medium inline-flex items-center justify-center rounded text-sm px-3 py-2 text-center sm:w-auto;
    }

    .btn-emerald {
        @apply w-1/2 text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-200 font-medium inline-flex items-center justify-center rounded text-sm px-3 py-2 text-center sm:w-auto;
    }

    .btn-indigo {
        @apply w-1/2 text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-200 font-medium inline-flex items-center justify-center rounded text-sm px-3 py-2 text-center sm:w-auto;
    }

    .btn-primary {
        @apply w-1/2 text-white bg-gray-900 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium inline-flex items-center justify-center rounded text-sm px-3 py-2 text-center sm:w-auto;
    }

    .prose-custom {
        @apply max-w-none prose prose-strong:text-gray-600 prose-em:text-gray-600 prose-p:text-gray-600 prose-a:text-emerald-700 hover:prose-a:text-emerald-900 prose-li:text-gray-600 prose-ul:list-inside prose-ol:list-inside prose-li:marker:text-emerald-700 prose-img:w-full prose-img:border prose-img:p-1 prose-th:bg-emerald-700 prose-th:text-white prose-th:font-sans prose-th:p-2 prose-table:border prose-td:p-2 prose-blockquote:pl-4 prose-blockquote:py-2 prose-blockquote:text-gray-500 prose-blockquote:border-emerald-500 prose-blockquote:font-light;
    }
}

.growing-underline {
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}

.growing-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

.growing-underline:hover::after,
.growing-underline:focus::after {
    transform: translate3d(0, 0, 0);
}
