@layer components {
  .btn-table-action {
    @apply p-1 bg-gray-300 rounded-sm;
  }
  
  .btn-purple {
    @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-purple-100 bg-purple-600 border border-transparent rounded-md hover:bg-purple-500 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-purple-500;
  }
  
  .btn-red {
    @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-purple-100 bg-red-600 border border-transparent rounded-md hover:bg-red-500 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-red-500;
  }
  
  .btn-ring-red {
    @apply focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:outline-none;
  }
  
  .btn-ring-purple {
    @apply focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:outline-none;
  }
  
  .btn-close {
    @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-purple-900 bg-purple-100 border border-transparent rounded-md hover:bg-purple-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-purple-500;
  }
  
  .btn-spinner,
  .btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }
  
  .btn-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
  }
  
  @keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}